/* You can add global styles to this file, and also import other style files */
body{
  background: #F6F7FB 0% 0% no-repeat padding-box;
  height: 100vh;
}
.form-control {
  height: calc(1.5em + 0.75rem + 1px);
}
.form-group {
  margin-bottom: 0.5rem;
}
